<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSBVoHxfkbGlt1a0-B6Uk3okuTL4jK-S4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042375896756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saglikAsistani</string>
	<key>PROJECT_ID</key>
	<string>saglik-asistani-ef411</string>
	<key>STORAGE_BUCKET</key>
	<string>saglik-asistani-ef411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042375896756:ios:bf38fff30ed41f610ef1e1</string>
</dict>
</plist>